[Unit]
Description=Setup RTMP Proxy
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-rtmp-proxy.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
