[Unit]
Description=Periodically update RTMP Proxy binary

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
